/* Contenedor principal */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 120px); /* Ajusta la altura total menos el espacio del navbar y footer */
  padding-top: 1rem; /* Agrega un poco de espacio desde el navbar */
  background-color: #121d2b; /* Fondo oscuro para el contenedor principal */
  padding-bottom: 1rem; /* Espacio adicional antes del footer */
}

/* Estilo para el texto de bienvenida */
.welcome-text {
  color: white; /* Color blanco */
  font-size: 2rem; /* Tamaño más pequeño */
  text-align: center; /* Centrar el texto */
  margin-top: 1rem; /* Un pequeño margen desde arriba */
}

/* Imagen del logo */
.image-container {
  width: 100%; /* Asegura que ocupe todo el ancho */
  background-color: #121d2b; /* Color de fondo detrás de la imagen */
  text-align: center;
}

/* Imagen del logo */
.mb-4 {
  width: 150px; /* Ajusta el tamaño de la imagen según sea necesario */
}

/* Centrar el contenedor del formulario */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  max-width: 350px; /* Ancho máximo del cuadro */

  background-color: #1c2735; /* Azul oscuro para el fondo del formulario */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada para un efecto profundo */
  text-align: center;
}

.login-header {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff; /* Texto blanco para contraste */
  margin-bottom: 0.5rem;
}

/* Estilos del formulario */
.login-form .form-group {
  margin-bottom: 15px;
}

.form-input {
  color: #ffffff;
  width: 100%;
}
.mat-form-field {
  width: 100%;
  background-color: white; /* Fondo blanco para los campos de entrada */
  border-radius: 8px; /* Bordes redondeados */
  padding: 10px; /* Espacio interno alrededor del campo */
  margin-bottom: 1rem; /* Añadir espacio entre los campos */
}

.mat-form-field .mat-label {
  color: #121d2b; /* Color oscuro para las etiquetas */
}

/* Estilo para las etiquetas */
.mat-label {
  color: #ffffff; /* Color oscuro para las etiquetas */
}


.mat-input-element {
  color: #121d2b; /* Color del texto en el campo */
}
/* Estilo para los textos de los campos */
input.mat-input-element, textarea.mat-input-element {
  background-color: white !important; /* Fondo blanco para los inputs */
  border: 1px solid #121d2b; /* Borde oscuro para el input */
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  color: white; /* Color del texto en blanco */
}

/* Placeholder de los inputs */
::placeholder {
  color: #121d2b; /* Color oscuro para los placeholders */
  font-style: italic;
}

/* Estilo para los errores (si los hay) */
.mat-error {
  color: red; /* Color rojo para los errores */
}

/* Botón de Iniciar Sesión */
.submit-button {
  background-color: #2a3d59 !important; /* Azul oscuro para el fondo del botón */
  color: #ffffff !important; /* Texto blanco */
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.submit-button:hover {
  background-color: #1d2a3b !important; /* Azul más oscuro para hover */
}

/* Enlace de registro */
.register-link {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.register-link a {
  color: #ffffff; /* Blanco para los enlaces */
  text-decoration: none;
  display: block;
  margin: 5px 0;
}

.register-link a:hover {
  text-decoration: underline;
}

/* Estilo para la imagen del logo */
.image-container img {
  width: 50px; /* Establece el ancho */
  height: 50px; /* Establece la altura */
  object-fit: cover; /* Asegura que la imagen no se deforme */
}
